.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bi {
  margin-left: 10px;
}
h3.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
button.submit-form {
  background-color: #003680;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
